@use '../utility/variables' as *;
@use '../utility/mixins' as *;
@use '../utility/animations' as *;

/* -- Content
--------------------------------- */

#customLandingPage_AccountingSystemsCampaign{
    width:100%;
    height:auto;
    min-height:380px;

    display:grid;
    position:relative;
    z-index:0;

    margin:0px;
    padding:0px;
    border:0px none;


    // -- Page Background ----------

        &::before{
            background:linear-gradient(
                73deg,
                #C6C6C6 9.62%,
                #C7BEC0 39.42%,
                #F3D5E2 61.06%,
                #B2BED7 81.73%,
                #DEDFE7 100%
            );

            width:100%;
            height:100%;

            display:block;
            position:absolute;
            top:0px;
            left:0px;
            z-index:0;

            margin:0px;
            padding:0px;
            border:0px none;

            opacity:0.4;
            animation: cssAnimateBackgroundFadeInOut 5s ease-in-out infinite;

            content:'';
        }


    // -- Content ----------

        .customLandingPage_content{
            grid-column:1;
            grid-row:1;
            align-self:start;
            justify-self:stretch;

            width:100%;
            height:auto;

            display:block;
            position:relative;
            top:0px;
            left:0px;
            z-index:10;

            margin:0px;
            padding:0px;
            border:0px none;


            // -- General ----------

                // Links
                a{
                    &,
                    &:hover,
                    &:active,
                    &:visited{
                        color:$darkblue;
                        font-weight:$fontweightBold;
                        @include underlineLink($darkblue, $blue);

                        &:hover{
                            color:$blue;
                        }
                    }
                }

                // Sections
                .section{
                    width:100%;
                    height:auto;

                    display:block;
                    position:relative;
                    z-index:10;

                    margin:0px;
                    padding:0px;
                    border:0px none;

                    .container{
                        position:relative;
                        z-index:10;

                        @include containerWidth;
                        @include sideGutter;
                        @include addSectionSpace(padding-top);
                        @include addSectionSpace(padding-bottom);

                        // Intro and Outro
                        .section_intro,
                        .section_outro{
                            text-align:center;

                            p{
                                font-size:$fontsizeLarge;
                            }
                        }
                    }
                }


            // -- Specific ----------

                .section--FutureReadyFinance{

                    .container{
                        min-height:calc(100vh - 100px);

                        display:grid;
                        align-items:center;
                        justify-items:center;
                        padding-top:200px;
                        padding-bottom:200px;

                        .hero{
                            display:grid;
                            position:relative;
                            z-index:0;

                            grid-template-columns:minmax(0, 1fr);
                            grid-auto-rows:min-content;
                            row-gap:20px;
                            @include responsive_from($xs_screen){
                                row-gap:40px;
                            }

                            h1{
                                color:$white;
                                margin:20px 0px 0px;
                                @include responsive_from($xs_screen){
                                    margin:40px 0px 0px;
                                }
                            }

                            p{
                                color:$white;
                                font-size:$fontsizeLarge;
                                @include responsive_from($xs_screen){
                                    font-size:$fontsizeVeryLarge;
                                }
                                margin:0px;

                                & + p{
                                    justify-self:center;
                                }

                                @include responsive_to($xs_screen){
                                    br{
                                        display:none;
                                    }
                                }

                                .btn{
                                    @include btn($darkblue, $white);
                                    font-size:$fontsizeNormal;
                                    margin-top:20px;
                                    @include responsive_from($xs_screen){
                                        font-size:$fontsizeLarge;
                                        margin-top:40px;
                                    }
                                }
                            }

                            &::before{
                                background-image:url('../media/hero_circle.webp');
                                background-position:center;
                                background-repeat:no-repeat;
                                background-size:cover;

                                width:clamp(560px, 180%, 812px);
                                height:0px;

                                display:block;
                                position:absolute;
                                top:50%;
                                left:50%;
                                z-index:-1;

                                margin:0px;
                                // padding:0px 0px clamp(640px, 180%, 767.35px);
                                padding:0px 0px clamp(560px, 180%, 812px);
                                border:0px none;

                                border-radius:50%;

                                transform:translate(-50%, -50%);

                                content:'';

                            }
                        }
                    }

                    .background{
                        width:100%;
                        height:100%;

                        display:block;
                        position:absolute;
                        top:0px;
                        left:0px;
                        z-index:0;

                        mask:linear-gradient(
                            to bottom,
                            rgba($black, 1.0) 50%,
                            rgba($black, 0.738) 59.5%,
                            rgba($black, 0.541) 67%,
                            rgba($black, 0.382) 73.5%,
                            rgba($black, 0.278) 78.25%,
                            rgba($black, 0.194) 82.5%,
                            rgba($black, 0.126) 86.5%,
                            rgba($black, 0.075) 90.1%,
                            rgba($black, 0.042) 93.05%,
                            rgba($black, 0.021) 95.5%,
                            rgba($black, 0.008) 97.6%,
                            rgba($black, 0.002) 99.1%,
                            rgba($black, 0) 100%
                        );

                        img,
                        video{
                            width:auto;
                            width:100%;
                            height:auto;
                            height:100%;

                            display:block;
                            position:absolute;
                            z-index:0;

                            margin:0px;
                            padding:0px;
                            border:0px none;

                            object-fit:cover;
                            object-position:50% 50%;
                        }
                        video{
                            z-index:10;
                        }
                    }
                }

                .section--Introduction{

                    .container{
                        min-height:calc(100vh - 100px);

                        display:grid;
                        align-items:center;
                        justify-items:center;

                        text-align:center;

                        .text{
                            color:$blue;
                            font-size:$fontsizeLarge;
                            @include responsive_from($xs_screen){
                                font-size:$fontsizeVeryLarge;
                            }
                            @include responsive_from($lg_screen){
                                font-size:$fontsizeExtraLarge;
                            }
                            text-align:center;
                        }
                    }
                }

                .section--WhoIsItFor{

                    .container{
                        display:grid;
                        grid-template-columns:minimax(0, 1fr);
                        grid-auto-rows:min-content;
                        @include addElementSpace(row-gap);

                        .intro{
                        }

                        .tiles{
                            display:grid;
                            grid-template-columns:minmax(0, 1fr);
                            @include responsive_from($md_screen){
                                grid-template-columns:repeat(2, minmax(0, 1fr));
                            }
                            @include responsive_from($lg_screen){
                                grid-template-columns:repeat(3, minmax(0, 1fr));
                            }
                            grid-auto-rows:min-content;

                            @include addElementSpace(column-gap);
                            @include addElementSpace(row-gap);

                            .tile{
                                display:grid;
                                grid-template-rows:min-content auto min-content;
                                grid-auto-rows:min-content;

                                h3{
                                    min-height:3em;

                                    &::before{
                                        display:block;

                                        color:$black;
                                        font-size:$fontsizeNormal;
                                        font-weight:$fontweightRegular;
                                    }
                                }
                                &:nth-child(1){
                                    h3{
                                        color:$purple;
                                        &::before{
                                            content:'Phase one';
                                        }
                                    }
                                    a{
                                        @include btn($purple, $white);
                                    }
                                }
                                &:nth-child(2){
                                    h3{
                                        color:$pink;
                                        &::before{
                                            content:'Phase two';
                                        }
                                    }
                                    a{
                                        @include btn($pink, $white);
                                    }
                                }
                                &:nth-child(3){
                                    h3{
                                        color:$darkblue;
                                        &::before{
                                            content:'Phase three';
                                        }
                                    }
                                    a{
                                        @include btn($darkblue, $white);
                                    }
                                }
                            }
                        }
                    }
                }

                .section--Phases{
                    .phase{
                        background:rgba(red, 0.1);
                        display:none;

                        &.jsPhaseActive{
                            display:block;
                        }

                        .container{
                        }
                    }
                    .contact{
                        display:none;

                        .tile{
                            background-color:$darkblue;

                            *:not(.btn){
                                color:$white;
                            }
                        }

                        &.jsPhaseActive{
                            display:block;
                        }

                        &[data-phase=PhaseOne]{
                            .tile{
                                background-color:$purple;

                                .btn{
                                    @include btn($white, $purple);
                                }
                            }
                        }
                        &[data-phase=PhaseTwo]{
                            .tile{
                                background-color:$pink;

                                .btn{
                                    @include btn($white, $pink);
                                }
                            }
                        }
                        &[data-phase=PhaseThree]{
                            .tile{
                                background-color:$darkblue;

                                .btn{
                                    @include btn($white, $darkblue);
                                }
                            }
                        }

                        .background{
                            width:100%;
                            height:100%;

                            display:block;
                            position:absolute;
                            top:0px;
                            left:0px;
                            z-index:0;

                            mask:linear-gradient(
                                to bottom,
                                rgba($black, 0) 0%,
                                rgba($black, 0.5) 66.666667%,
                                rgba($black, 1) 100%
                            );

                            img{
                                width:auto;
                                width:100%;
                                height:auto;
                                height:100%;

                                display:block;
                                position:absolute;
                                z-index:0;

                                margin:0px;
                                padding:0px;
                                border:0px none;

                                object-fit:cover;
                                object-position:50% 100%;
                            }
                        }
                    }
                }

                .section--DecisionRoadmap{

                    .container{
                        display:grid;
                        grid-template-columns:minimax(0, 1fr);
                        grid-auto-rows:min-content;
                        @include addElementSpace(row-gap);

                        h3{
                            font-size:1rem;
                        }
                    }
                }

                .section--Overview{ display:none !important;

                    .container{
                        table{
                            width:100%;
                            min-width:320px;
                            overflow-x:auto;
                        }
                    }
                }

                .section--HowPKFCanHelp{ display:none !important;

                    .container{
                    }
                }

                .section--ContactUs{ display:none !important;

                    .container{
                    }
                }
        }
}