@use '../utility/variables' as *;
@use '../utility/mixins' as *;

/* -- Elements
--------------------------------- */

#customLandingPage_AccountingSystemsCampaign{

    *,
    *::before,
    *::after{
        box-sizing:border-box;
    }

    &{
        background-color:inherit;

        width:100%;
        height:auto;
        // min-height:100vh;

        display:block;
        position:relative;
        z-index:0;

        color:$grey;
        font-family:inherit; // Inter, sans-serif
        font-size:1rem; // clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.37), 18px)
        font-weight:inherit;
        line-height:inherit;
        text-align:inherit;

        margin:0em auto;
        padding:0em;
        border:0em none;

        overflow-x:clip;

        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;

        scroll-behavior:smooth;
    }


// -- Headings ----------

    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        color:$blue;
        font-family:$fontfamilyPKF;
        font-size:inherit;
        font-style:inherit;
        font-weight:inherit;
        line-height:inherit;

        margin:0px;
        padding:0em;
        border:0em none;

        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;

        & b,
        & strong{
            font-weight:inherit;
        }

        & em,
        & i{
            font-style:italic;
            font-weight:inherit;
        }

        & b em,
        & b i,
        & strong em,
        & strong i,
        & em b,
        & em strong,
        & i b,
        & i strong{
            font-style:italic;
            font-weight:inherit;
        }
    }

    h1{
        font-size:6.59011111111em;
    }

    h2{
        font-size:4em;
    }
    h3{
        font-size:2.444444em;
    }
    h4,
    h5,
    h6{
        font-size:1.7777777778em;
    }


// -- Paragraph ----------

    p,
    li{
        color:inherit;
        font-family:inherit;
        font-size:inherit;
        font-style:1em;
        font-weight:inherit;
        font-weight:inherit;
        line-height:inherit;

        margin:1em 0px;
        padding:0em;
        border:0em none;

        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
    }


// -- Lists ----------

    ul,
    ol{
        position:relative;

        color:inherit;
        font-family:inherit;
        font-size:inherit;
        font-style:normal;
        font-weight:inherit;
        line-height:inherit;

        margin:0px;
        padding:0px;
        border:0px none;

        li{
            position:relative;

            color:inherit;
            font-family:inherit;
            font-size:inherit;
            font-style:normal;
            font-weight:inherit;
            line-height:inherit;
            list-style:none;

            margin:0px;
            padding:0px;
            border:0px none;
        }

        li{
            list-style-position:outside;

            margin:0.25rem 0px;

            &::marker{
                color:$black;
                font-size:$fontsizeSmall;
                font-weight:bold;
                line-height:$fontsizeSmall;
            }
        }

        &:is(ol){
            padding-left:1.5rem;

            li{
                list-style-type:decimal;
                padding-left:0px;
            }
        }

        &:is(ul){
            padding-left:1.25rem;

            li{
                list-style-type:disc;
                padding-left:0.5rem;
            }
        }

        ol,
        ul{
            margin-top:0px;

            &:is(ol){
                li{
                    list-style-type:decimal;
                }
            }

            &:is(ul){
                li{
                    list-style-type: "\2013";

                    &::marker{
                        font-size:$fontsizeLarge;
                        font-weight:bold;
                    }
                }
            }
        }
    }


// -- Emphasis ----------

    // Bold & Italic
    em,
    i,
    var{
        font-style:italic;
        font-weight:normal;
    }

    b,
    strong{
        font-style:normal;
        font-weight:bold;
    }

    b em,
    b i,
    em b,
    em strong,
    i b,
    i strong,
    strong em,
    strong i {
        font-style:italic;
        font-weight:bold;
    }

    // Underline
    u{
        // @include underline;
        text-decoration:underline;
    }

    // Misc
    abbr,
    address,
    del,
    ins,
    code,
    kbd,
    pre,
    samp{
        font-size:$fontsizeSmall;
    }

    q{
        font-family:inherit;
        font-weight:inherit;
        quotes: "\201C""\201D""\2018""\2019";
    }

    // Size
    big,
    .largeText,
    .fontsizeLarge{
        display:inline-block;
        font-size:$fontsizeLarge;
        line-height:1.2;
    }
    small,
    .smallText,
    .fontsizeSmall{
        display:inline-block;
        font-size:$fontsizeSmall;
        line-height:inherit;
    }


// -- Images ----------

    img{
        width:auto;
        max-width:100%;
        height:auto;

        display:block;
        position:relative;
    }


// -- Links ----------

    a,
    a:hover,
    a:active,
    a:visited{
        position:relative;

        text-decoration:none;

        transition: background-color $easeInOut,
                    color $easeInOut,
                    opacity $easeInOut;
        &:not(.btn, .skip-to-content){
            color:inherit;
        }
    }


// -- Buttons ----------

    button{
        overflow:hidden;

        &,
        &:active,
        &:focus,
        &:focus-visible,
        &:focus-within,
        &:hover,
        &:target{
            outline:none !important;
            box-shadow:none !important;
        }
    }


// -- Line Break ----------

    hr{
        width:100%;
        border:0px;
        border-top:0.05rem solid $black;
        display:inline-block;
        vertical-align:top;

        opacity:0.25;

        margin:1.5rem auto;

        &::after{
            display:block;
            clear:both;
            content:'';
        }
    }


// -- iframe ----------

    object,
    iframe{
        margin:0px;
        padding:0px;
        border:0px none;
    }


// -- Spacing ----------

    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6,
        & + p,
        & + ul,
        & + ol,
        & + blockquote,
        & + iframe,
        & + object,
        & + form,
        & + .table{
            // margin-top:-0.5rem;
        }
    }

    p,
    ul,
    ol,
    blockquote,
    iframe,
    object,
    form,
    .table{
        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6{
            // margin-top:2rem;
        }
    }
}