@use "sass:list";
@use '../utility/variables' as *;

/* = Mixins
 * -----------------------------------------------
 * - Media Queries
 * - Spacing
 * - Colours
 * - Utility functions
 * - Specific @mixin functions
 * ----------------------------------------------- */


// -- Media Queries
// --------------------------------

    @mixin responsive_to($breakpoint) {
        @media only screen and (max-width:calc($breakpoint - 1px)) {
            @content;
        }
    }

    @mixin responsive_from($minbreakpoint:'', $maxbreakpoint:'') {
        @if ($maxbreakpoint == ''){
            @media only screen and (min-width: $minbreakpoint) {
                @content;
            }
        } @else{
            @media only screen and (min-width: $minbreakpoint) and (max-width:calc($maxbreakpoint - 1px)) {
                @content;
            }
        }
    }


// -- Layout
// --------------------------------

    // Container width
    @mixin containerWidth(){
        width:100%;
        max-width:$large_container;
        margin:0px auto;
    }

    // Sidegutter
    @mixin sideGutter(){
        padding:0px 20px;
        @include responsive_from($breakpoint){
            padding:0px 80px;
        }
    }

    // Add element space
    @mixin addElementSpace($cssProperty){
        @if ($cssProperty != ''){
            @include responsive_to($breakpoint){
                #{$cssProperty}:20px;
            }
            @include responsive_from($breakpoint){
                #{$cssProperty}:40px;
            }
        }
    }

    // Add element space
    @mixin removeElementSpace($cssProperty){
        @if ($cssProperty != ''){
            @include responsive_to($breakpoint){
                #{$cssProperty}:-20px;
            }
            @include responsive_from($breakpoint){
                #{$cssProperty}:-40px;
            }
        }
    }

    // Add section space
    @mixin addSectionSpace($cssProperty){
        @if ($cssProperty != ''){
            @include responsive_to($breakpoint){
                #{$cssProperty}:50px;
            }
            @include responsive_from($breakpoint){
                #{$cssProperty}:100px;
            }
        }
    }

    // Remove section space
    @mixin removeSectionSpace($cssProperty){
        @if ($cssProperty != ''){
            @include responsive_to($breakpoint){
                #{$cssProperty}:-50px;
            }
            @include responsive_from($breakpoint){
                #{$cssProperty}:-100px;
            }
        }
    }


// -- Utility functions
// --------------------------------

    @mixin animationStandard($animationDuration:''){
        animation-direction:normal;
        animation-fill-mode:both;
        animation-iteration-count:1;
        @if ($animationDuration == ''){
            animation-duration:1s;
        } @else{
            animation-duration:$animationDuration;
        }
    }

    // Apply the same transitions to multiple elements
    @mixin transition($speed, $easing, $properties...) {
        $transitions: ();
        @each $prop in $properties {
            $transitions: list.append($transitions, #{$prop} $speed $easing, $separator: comma);
        }
        transition: $transitions;
    }

    // Hide items but don't use display none so they stay in the dom
	@mixin hidden{
		// Ref: https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/
		position:absolute;
		overflow:hidden;
		clip:rect(0 0 0 0);
		height:1px; width: 1px;
		margin:-1px; padding: 0; border: 0;
	}
	@mixin show{
		position:relative;
		overflow:auto;
		clip:unset;
		height:auto; width:auto;
		margin:0px; padding: 0; border: 0;
	}

    // Truncate amount of lines shown and add a …
	@mixin truncate($lines:'', $lineHeight:''){
		display: block;
		overflow:hidden;
		text-overflow:ellipsis;
		display: -webkit-box;
		-webkit-box-orient:vertical;

        @if $lineHeight == '' {
		    $lineHeight:1.5em;
        }
        line-height:$lineHeight;
        @if $lines == '' {
			-webkit-line-clamp:3; /* number of lines to show */
					line-clamp:3;
			max-height: 4.5em;
        }
        @else{
			-webkit-line-clamp:$lines; /* number of lines to show */
					line-clamp:$lines;
			max-height:calc($lines * $lineHeight);
        }
	}

    // Blank space for sizing (%)
    @mixin blankSpace($percentage:''){
        width:100%;
        height:0px;

        display:block;
        position:relative;

        margin:0px;
        padding:0px 0px 56.25%;
        border:0px none;
        content:'';

        @if $percentage != '' {
            padding:0px 0px $percentage;
        }
    }


// -- Styling functions
// --------------------------------

    @mixin underlineLink($underlineColor:'', $underlineHoverColor:''){
        &:not(.btn, .no_underline, :has(img, iframe, object, audio, video)){
            width:auto;
            height:auto;

            display:inline-block;
            position:relative;

            white-space:nowrap;

            @media (pointer:fine) {
                &::after{
                    @if $underlineColor != '' {
                        background-color:$underlineColor;
                    }
                    @else{
                        background-color:$black;
                    }

                    width:100%;
                    height:0.1rem;

                    display:block;
                    position:absolute;
                    top:calc(100% - 0.1em);
                    left:0px;

                    transform:scaleX(0);
                    transform-origin:bottom left;
                    transition:transform $easeOut;
                    transition-delay:0ms;

                    content:'';
                }

                &:hover{
                    &::after{
                        transform:scaleX(1);
                    }
                }

                @if $underlineHoverColor != '' {
                    &::after{
                        background-color:$underlineHoverColor;
                    }
                    &::before{
                        background-color:$underlineColor;

                        width:100%;
                        height:0.1rem;

                        display:block;
                        position:absolute;
                        top:calc(100% - 0.1rem);
                        right:0px;

                        transform:scaleX(1);
                        transform-origin:bottom right;
                        transition:transform $easeOut;
                        transition-delay:$transitionSpeed;

                        content:'';
                    }

                    &:hover{
                        &::before{
                            transform:scaleX(0);
                            transition-delay:0ms;
                        }
                        &::after{
                            transition-delay:$transitionSpeed;
                        }
                    }
                }
            }
        }
    }

	// Font sizes
	@mixin fontTitleHero{
		font-size:5.555556em;
        font-size:clamp(4.08em, 20.4vw, 6.59011111111em);
        line-height:0.92;
        text-transform:uppercase;
	}
	@mixin fontTitleLarge{
		@include responsive_to($breakpoint){
			font-size:3.5em;
		}
		@include responsive_from($breakpoint){
			font-size:4em; // 72px
		}
		line-height:1.2;
	}
	@mixin fontTitleMedium{
		@include responsive_to($breakpoint){
			font-size:2em;
		}
		@include responsive_from($breakpoint){
			font-size:2.4444444em; // 44px
		}
		line-height:1.3;
	}
	@mixin fontTitleSmall{
		@include responsive_to($breakpoint){
			font-size:1.5em;
		}
		@include responsive_from($breakpoint){
			font-size:2em; // 36px
		}
	}


// -- Specific @mixin functions
// --------------------------------

    @mixin btn($background:'', $color:'', $mode:''){
        @if($background==''){
            $background:$darkblue;
        }
        @if($color==''){
            $color:$white;
        }

        background-color:$background;

        width:auto;
        height:auto;

        display:inline-block;
        position:relative;

        color:$color;
        font-family:$fontfamilyInter;
        font-size:inherit;
        font-weight:$fontweightRegular;
        line-height:1.0;
        text-align:center;
        white-space:nowrap;

        margin:0px;
        padding:0.666667em 1.666667em;
        border:0px none;

        border-radius:1.5em;

        @include transition($transitionSpeed, $transitionEaseInOut, background-color, color, opacity);

        &:hover{
            @if($mode=='invert'){
                background-color:$color;
                color:$background;
            }
            @else{
                background:$blue;
                color:$white;
            }
        }
    }
