@use 'sass:color';

/* = Variables CSS file for Custom HTML Template
 * -----------------------------------------------
 *	- Layout
 *  - Fonts
 *	- Colours
 * ----------------------------------------------- */


// Layout
// -----------------------

	// Breakpoints
    $xxs_screen:420px;
    $xs_screen:520px;
	$sm_screen:640px;
	$md_screen:992px;
    $lg_screen:1050px;
    $xl_screen:1280px;
    $xxl_screen:1920px;

	$breakpoint:783px;
	$menu_breakpoint:880px;

	// Max widths
	$small_container:870px;
	$medium_container:1470px;
	$large_container:1770px;

	$single_column:minmax(0, 1fr);

	// Spacing
	$gutterGap:2rem;
	$sectionGap:5rem;

	// Transitions
	$transitionEaseIn:cubic-bezier(0.550, 0.055, 0.675, 0.190);
	$transitionEaseOut:cubic-bezier(0.215, 0.610, 0.355, 1.000);
	$transitionEaseInOut:cubic-bezier(0.645, 0.045, 0.355, 1.000);
	$transitionSpeed:250ms;

	$easeIn:$transitionEaseIn $transitionSpeed;
	$easeOut:$transitionEaseOut $transitionSpeed;
	$easeInOut:$transitionEaseInOut $transitionSpeed;


// Colours
// -----------------------

	// PKF Colours

    // Site Colours
	$transparent:transparent;
	$white:#FFFFFF;
	$black:#000000;
    $darkgrey:#5A5A5A;
	$darkmediumgrey:#7B7F84;
	$lightmediumgrey:#E8E8E8;
	$lightgrey:#FAFAFA;

    $blue:#0F3780; // PKF Blue
    $darkblue:#0A2555; // PKF Dark Blue
	$lightblue:#0EB4DA;
    $pink:#A42775;
    $purple:#390C42;

	$filter_black:brightness(0) saturate(0%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
	$filter_white:brightness(0) saturate(0%) invert(100%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
	$filter_darkblue:brightness(0) saturate(0%) invert(11%) sepia(23%) saturate(6110%) hue-rotate(208deg) brightness(94%) contrast(99%);
	$filter_blue:brightness(0) saturate(0%) invert(15%) sepia(92%) saturate(1804%) hue-rotate(209deg) brightness(93%) contrast(98%);
	$filter_pink:brightness(0) saturate(0%) invert(22%) sepia(26%) saturate(5124%) hue-rotate(296deg) brightness(95%) contrast(94%);
	$filter_purple:brightness(0) saturate(0%) invert(8%) sepia(53%) saturate(2955%) hue-rotate(272deg) brightness(99%) contrast(103%);

	// Colour @functions
    @function linearGradient($gradientAngle:'', $colorStart:'', $colorEnd:''){
		@if($gradientAngle == ''){
			$gradientAngle:0deg;
		}
		@return linear-gradient(
			$gradientAngle,
			$colorEnd 0%,
			$colorStart 100%,
		);
    }

	@function underlineGradient($colorLine:'', $colorBg:''){
		@return repeating-linear-gradient(
            180deg,
            $colorBg,
            $colorBg 0.89em,
            $colorLine 0.9em,
            $colorBg 0.91em,
            $colorBg 1.1em,
		);
	}

    @function tint($color, $percentage) {
        @return color.mix($white, $color, $percentage);
    }

    @function shade($color, $percentage) {
        @return color.mix($black, $color, $percentage);
    }



// Fonts
// -----------------------

	// Families
	$fontfamilyPKF:'PKF Global Sans', sans-serif;
	$fontfamilyInter:'Inter', sans-serif;

	// Weights
	$fontweightLight:300;
	$fontweightRegular:400;
	$fontweightMedium:500;
	$fontweightSemiBold:600;
	$fontweightBold:700;

	// Font Size
	$fontsizeSmall:0.8333333rem; // 15px
	$fontsizeNormal:1.0rem; // 18px
	$fontsizeLarge:1.333333rem; // 24px
	$fontsizeVeryLarge:1.666667rem; // 30px
	$fontsizeExtraLarge:2.444444rem; // 44px
